$font_size:16px;
$padding:16px;

$colors:(
    "primary":#00664D,
    "danger":#FF0000,
    "black":#000000,
    "white":#fff,
    "light":#F1F1F1,
    "grey":#707070,
    "light-grey":#C5C5C5
);
$breakpoints:(
    "md":1000px,
    "sm":700px,
    "xs":460px,
)