@tailwind base;
@tailwind components;
@tailwind utilities;

@import  "./setup/variables";
@import  "./setup/mixins";

html{
  scroll-behavior: smooth;
}
@each $k,$v in $colors{
   .bh-#{$k}{
    background: $v;
    @if $k == "black" or $k == "danger" or $k == "primary"{
      color: #fff;
    }
    @if $k == "white" or $k == "light" or $k== "light-grey" {
      color: #000;
    }
   }
   .bh-hover-#{$k}{
    transition: all ease 0.4s;
    &:hover{
      background: $v;
      @if $k == "black" or $k == "danger" or $k == "primary"{
        color: #fff !important;
      }
      @if $k == "white" or $k == "light" or $k== "light-grey" {
        color: #FF0000 !important;
      }
    }
   }
   .bh-text-#{$k}{
     color: $v !important;
   }
   .bh-hover-text-#{$k}{
    transition: all ease 0.4s;
    &:hover{
      color: $v !important
      ;
    }
   }
}
.bh-card{
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
}

body{
  @extend .bh-light;
}

.bh-container{
  max-width: 1096px;
  padding: $padding;
  margin-inline:auto;
}


.bh-team-member{
  @extend .bh-light;
  min-height: 250px;
  .img-cover{
    min-height: 200px;
    img{
    height: 200px;
    object-fit: cover;
    width: 100%;
   
    }
  }
  min-width: 230px;
  max-width: 230px;
  margin-right: $padding;
  .text-container{
    min-height: 130px;
  }
  @include md{
    min-width: 180px;
    max-width: 180px;
    .img-cover{
      min-height: 150px;
      img{
        height: 150px;
      }
    }
    .text-container{
      min-height: 100px;
    }
  }
}

.bh-event{
  .img-cover{
    min-height: 200px;
    @extend .bh-light;
  }
}
@for $i from 1 through 20{
  $height: $i * 5 ;
  $heightValue: $i * 5 * 1vh;
  .bh-min-vh-#{$height}{
   min-height: $heightValue;
  }
  @include md{
    .bh-min-vh-md-#{$height}{
      min-height: $heightValue!important;
     }
  }
  @include sm{
    .bh-min-vh-sm-#{$height}{
      min-height: $heightValue !important;
     }
  }
  @include xs{
    .bh-min-vh-xs-#{$height}{
      min-height: $heightValue !important;
     }
  }
}
.gallery{
  display: grid;
  grid-template-columns:repeat(2,1fr) ;
  gap: 10px;
  grid-auto-rows: 200px;
  div:nth-child(2),
  div:nth-child(6),
  div:nth-child(9)
  {
    grid-row: span 2/auto;
  }
}
@media screen and (min-width:760px) {
  .gallery{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 10px;
    grid-auto-rows: 200px;
    div:nth-child(2),
    div:nth-child(6),
    div:nth-child(9)
    {
      grid-row: span 2/auto;
    }
  }
}
.bh-slide-1{
  background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("/images/slider-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bh-slide-2{
  background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("/images/slider-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bh-slide-3{
  background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("/images/slider-3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.ant-carousel {
  .slick-dots li button {
  width: 7px;
  height: 7px;
  margin-top: 2px;
  border-radius: 100%;
  background:#000;
  opacity: 1;
  border: 1px solid #fff;
  }
   .slick-dots li.slick-active button {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background:#fff;
}
}

.triangle-left{
  width: 0;
	height: 0;
	border-top:25px solid transparent;
	border-right: 50px solid #fff;
	border-bottom: 25px solid transparent;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #fff;
	border-bottom: 25px solid transparent;
}
.triangle-up{
  width: 0;
	height: 0;
  border-radius: 10px;
  border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #00664D;
}
.event{
  min-width: 250px;
}